﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucCategoria.ascx.cs" Inherits="Ventas_aspnet.UserControls.ucCategoria" %>
<asp:DropDownList ID="DropDownList1" runat="server"></asp:DropDownList>