﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucClase.ascx.cs" Inherits="Ventas_aspnet.UserControls.ucClase" %>
<asp:DropDownList ID="DropDownList1" runat="server" Height="18px" Width="141px">
</asp:DropDownList>