﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucModelo.ascx.cs" Inherits="Ventas_aspnet.UserControls.ucModelo" %>
<asp:DropDownList ID="DropDownList1" runat="server"></asp:DropDownList>