﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucComboBox.ascx.cs" Inherits="ActividadClase.ucComboBox.ucComboBox" %>
<asp:DropDownList ID="DropDownList1" runat="server" Height="19px" Width="134px"></asp:DropDownList>




