﻿@model ActividadClase_mvc.Models.Vehiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.veh_placaanterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_placaanterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_placaactual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_placaactual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_chasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_chasis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_motor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_tonelaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_tonelaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_fechacompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_fechacompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_pasajeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_pasajeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_carroceria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_carroceria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_fechaemision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_fechaemision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_fechacaducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_fechacaducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehiculo_anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculo_anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_cilindraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_cilindraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.veh_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veh_delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cla_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cla_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tip_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tip_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.col_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.col_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pai_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pai_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
