﻿@model IEnumerable<ActividadClase_mvc.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.veh_placaanterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_placaactual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_chasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_motor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_tonelaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_fechacompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_pasajeros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_carroceria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_combustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_fechaemision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_fechacaducidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehiculo_anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_cilindraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_add)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.veh_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cla_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tip_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.col_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pai_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.veh_placaanterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_placaactual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_chasis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_motor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_tonelaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_fechacompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_pasajeros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_carroceria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_combustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_fechaemision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_fechacaducidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehiculo_anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_cilindraje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veh_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cla_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tip_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.col_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pai_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.veh_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.veh_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.veh_id })
        </td>
    </tr>
}

</table>
