﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucListComboxClases.ascx.cs" Inherits="MatriculacionVehicular.userControl.ucListComboxClases" %>
<asp:DropDownList ID="DropDownList1" runat="server" Height="23px" Width="178px"></asp:DropDownList>
