﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucLista.ascx.cs" Inherits="MatriculacionVehicular.userControl.ucLista" %>
<asp:ListView ID="ListView1" runat="server" DataSourceID="SqlDataSource1"></asp:ListView>
<asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:BDMATRICULAConnectionString %>" SelectCommand="SELECT * FROM [Vehiculo] ORDER BY [veh_id]"></asp:SqlDataSource>

