﻿@model ActividadClase_mvc.Models.Persona

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.per_identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_tipoidentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_tipoidentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_fechanacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_fechanacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_tiposangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_tiposangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.per_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.per_delete)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
