﻿@model IEnumerable<ActividadClase_mvc.Models.Persona>

@{
    ViewBag.Title = "Personas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("NUEVO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.per_identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_tipoidentificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_fechanacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_tiposangre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_genero)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.per_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_add)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.per_delete)
        </th>*@
        <th>ACCIONES</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.per_identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_tipoidentificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_fechanacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_tiposangre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_genero)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.per_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.per_delete)
        </td>*@
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id=item.per_id, identificacion=item.per_identificacion }) |
            @Html.ActionLink("VER", "Details", new { id=item.per_id, identificacion = item.per_identificacion }) |
            @Html.ActionLink("ELIMINAR", "Delete", new { id=item.per_id, identificacion = item.per_identificacion })
        </td>
    </tr>
}

</table>
